body 
{
  margin: 0;
  padding: 0;
  min-width: 1200px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a 
{
  text-decoration: none;
}
 
img {
  max-width: 100%;
  height: auto;
}

/* ------- main header ------- */
.main-header 
{
  background-color: #eeeeee;
  min-height: 117px;
}

.main-navigation 
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  padding-top: 31px;
  width: 1200px;
  margin-top: 40px;
  margin: 0 auto;  
}

.main-titel
{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 55px;
  font-weight: 500;
  background-color: #eeeeee;
  height: 145px; 
  margin: 0 auto;
  padding-top: 93px; 
}

.main-header-text
{
  text-align: center;
  font-size: 55px;
  margin-top: 60px;
}

/* ----------- navigator ----------------------------------------- */

.site-navigation
{
  list-style: none;
  padding-top: 50px; 
  padding-left: 201px;
}

.site-navigation-clients
{
  padding-right: 3px;
}
.site-navigation a
{
  color: #000000;
}

.site-navigation-studio,
.site-navigation-clients,
.site-navigation-shop
{
  margin-right: 42px; 
  min-height: 20px;
}

.site-navigation-basket img
{
  margin-right: 22px;
}

.site-navigation-shop
{
  padding-bottom: 10px;
  border-bottom: 2px solid #ff6666;
}

.site-navigation-contacts
{
 margin-right: 240px;
}

.site-navigation a:hover
{
  color: #ff6666;
}

.site-navigation a:active
{
  color: #000000;
  opacity: 0.12;
}

.site-navigation a:visited
{
  border-bottom: 2px solid #ff6666;
}

/* ------- slider ---------------- */
.container-slider 
{
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 62px; 
}

.visually-hidden 
{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider 
{
  position: relative;
  background-color: #eeeeee;
}

.slider-controls 
{
  position: absolute;
  left: 49%;
  bottom: 105px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label 
{
  position: relative;
  display: inline-block;
  vertical-align: top; 
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after 
{
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list 
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item 
{
  display: none;
  padding-top: 78px;  
  padding-right: 0;
  padding-bottom: 80px;  
  padding-left: 0;  
}

.slider-item:nth-child(1) 
{
  background-image: url("../img/nerds-index-slide1.png");
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 90% 0px;
}

.slider-item:nth-child(2) 
{
  background-image: url("../img/nerds-index-slide2.png");
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) 
{
  background-image: url("../img/nerds-index-slide3.png");
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) 
{
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) 
{
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) 
{
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before 
{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 
{
  width: 520px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p 
{
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  width: 350px;
}

.button 
{
  display: block;
  width: 240px;
  padding: 17px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus 
{
  background-color: #e74246;
}

.button:active 
{
  background-color: #cc3333;
  color: #cc9999;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* ------- container-item -------- */
.flex-container-gallery-item
{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  width: 1200px;
  margin: auto; 
  margin-bottom: 65px;
}

.gallery-index-item
{
  margin-right: 100px;
}

.gallery-index-item h2
{
  font-size: 25px;
}

.gallery-index-label
{
  font-size: 18px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 17px;
}

.gallery-index-info
{
  font-size: 16px;
  text-align: left;
  padding-bottom: 15px; 
  width: 250px;
}

.gallery-index-button-red
{
  font-size: 16px;
  margin: 0;
  height: 50px;
  width: 160px;
  color: white; 
  background-color: #ff6666;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0;
}

.gallery-index-button-green
{
  font-size: 16px;
  margin: 0;
  height: 50px;
  width: 160px;
  color: #eeeeee; 
  background-color: #00cc66;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0;
}

.gallery-index-button-yellow
{
  font-size: 16px;
  margin: 0;
  height: 50px;
  width: 160px;
  color: #eeeeee; 
  background-color: #ffcc33;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0;
}

.gallery-index-button-red:hover
{
  background-color: #ff3333;
}

.gallery-index-button-red:active
{
  background-color: #cc3333;
  color: #cc9999;
}

.gallery-index-button-green:hover
{
  background-color: #00cc66;
}

.gallery-index-button-green:active
{
  background-color: #009966;
  color: #66cc99;
}

.gallery-index-button-yellow:hover
{
  background-color: #ffcc33;
}

.gallery-index-button-yellow:active
{
  background-color: #cc9933;
  color: #ffcc66;
}
/* --------------- adv -------------------- */
.container-adv
{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: left;
  border-top: 2px solid #cccccc;
  width: 1200px;
  padding-top: 37px;
  margin: auto; 
  padding-bottom: 50px;
}


.container-adv-right
{
  justify-content: left;
}

.container-adv-left
{
  width: 700px;
}

.container-adv-left-text 
{
  position: relative;
  margin-bottom: 24px; 
  padding-left: 35px;
  list-style-type: none;
}

.container-adv-left p
{
  margin-top: 0px; 
  width: 650px;
}

.container-adv-left h2
{
  margin-top: 40px;
  margin-bottom: 35px;
  width: 700px;
}

.container-adv-left-text::before
{
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ff0000;
}

.container-adv-right img
{
  margin-left: 100px; 
  margin-top: 5px;
}

.container-adv-right-text
{
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: left;
  margin-left: 100px;
  width: 100px;
}

.container-adv-right-dp
{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: left;
  margin-right: 0;
}

.container-adv-right-text p
{
  font-size: 16px;
  line-height: 1.2;
  padding-right: 10px;
  margin-bottom: 18px;
  margin-top: 20px;
  width: 110px;
}

.container-adv-right-text h2
{
  margin: 0;
}

.container-adv-left h4
{
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 23px;
}

.container-adv-right h4
{
  font-size: 16px;
  margin-top: 30px;
  margin-left: 120px;
  padding-bottom: 25px; 
}

.container-adv-right h4
{
  margin-bottom: 15px;
}

.container-adv-left h2
{
  font-size: 45px;
  line-height: 1.0;
}

.container-adv-right-digit
{
  font-size: 45px;
  line-height: 1.0;
}

.container-adv-right-percent
{
  font-size: 25px;
  font-weight: 600;
  padding: 0; 
  margin: 0;
}

/* ------------- logo ---------------- */
.container-logo
{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: left;
  border-bottom: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
  width: 1200px;
  height: 180px;
  margin: auto; 
  margin-bottom: 80px;
}

.logo-img
{
   margin: 0;
   margin-right: 40px;
}

.logo-img img
{
  opacity: 0.2;
}

.logo-item-img > img
{
  margin-left: 100px;  
}

.logo-item-img > p
{
  padding-right: 40px;  
}

.logo-img img:hover
{
  opacity: 1;
}

.logo-img img:active
{
  opacity: 0.10;
}


/* ------ main footer ---------- */
.footer
{
  position: relative;
  background-color: #e2e0e0;
  top: 20%;
  width: 100%;
  height: 38%;
  padding: 20px;
}

.main-footer
{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.main-footer-map
{
  position: relative; 
  box-sizing: border-box;
  background-image: url("../img/map-with-marker.jpg");
  background-color: #c1c1c1;
  box-sizing: border-box;
  width: 1450px; 
  height: 416px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main-footer-map-logo
{
  position: absolute;
  background-color: #ffffff;
  box-sizing: border-box;
  justify-content: center;
  top: 50px;
  left: 140px;
  width: 320px;
  min-height: 310px;
  padding: 55px 55px 26px;
}

.main-footer-map-label
{
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 25px;
}

.main-footer-map-address1
{
  line-height: 1.2;
  margin-bottom: 5px;
}

.main-footer-map-address11
{
  line-height: 1.2;
  margin-top: 0;
}

.main-footer-map-address2
{
  padding-bottom: 16px;
}

.main-footer-social
{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;  
  padding: 0%;
  margin: 0%;
}

.main-footer-text
{
  display: inline-block; 
  vertical-align: top;
  position: relative; 
  flex-direction: column; 
  margin-left: 105px; 
  margin-top: 20px;
  padding: 0%;
}

.main-footer-text-up
{
  padding: 0%; 
  font-weight: 600;
}

.main-footer-text p
{
  margin-top: 10px;
  padding: 0%;
}

.main-footer-text-down
{
  font-size: 10px;
  text-align: left;
  margin-top: 10px;
}

.main-footer-map-address1,
.main-footer-map-address2
{
  font-size: 16px;
}


/* ------------------ social ------------------------------------- */
.main-footer-social-bottom
{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  width: 1200px;
  margin: auto; 
  margin-top: 0px; 
}

.social-icon 
{
  width: 80px;
  height: 80px;
  background-color: #cccccc;
  border-radius: 50%;
  text-align: center; 
}

.social-icon.social-vk,
.social-icon.social-fb,
.social-icon.social-in
{
  margin: 0;
  margin-top: 12px;
  margin-right: 10px;
}


.main-footer-text-up
{
  font-size: 36px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 15px;
}

.main-footer-text-down
{
  font-size: 16px;
  margin-top: 0px;
  margin-left: 25px;
}

.social-fb img,
.social-in img
{
  padding-top: 30px;
}

 .social-vk img
{
  padding-top: 30px;
}

.social-vk,
.social-fb,
.social-in
{
  margin-left: 10px; 
  margin-top: 20px;
}

.social-icon:hover
{
  background-color: #ff3333;  
}

.social-icon:active
{
  background-color: #cc3333;
}

.social-icon:active .social-img
{
  opacity: 0.30;
}

/* -------------- catalog.css --------------------- */
/* ----------------- catalog filter -------------------------------- */

.container
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  padding-top: 45px; 
  width: 1200px;
  margin: auto; 
}

.container h2
{
  font-size: 18px;
}

.filter
{
  display: block;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  margin-right: 140px; 
}

.gallery-shop 
{
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 16px; 
  width: auto; 
 }
 
.gallery-item-shop
{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
}

.filter-assort-navigation
{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  width: 260px;
  margin-bottom: 20px; 
}

/*  --------------- catalog main-filter -------------------- */
.main-filter h2,
.filter-assort-navigation h2
{
  width: 300px;
}

/* -------------- catalog filter --------------------------- */
.filter-item 
{
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter 
{
  width: 260px;
  margin-top: 51px;
}

.range-controls 
{
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale 
{
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar 
{
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle 
{
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min 
{
  left: 15px;
}

.range-controls .toggle-max 
{
  left: 155px;
}

.price-controls 
{
  font-size: 0;
}

.price-controls label 
{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
}

.price-controls input 
{
  width: 60px;
  padding: 10px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif; 
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price 
{
  text-align: right;
}

/* --------------- catalog СЕТКА--------------------- */
.filter-netting
{
  margin-top: 58px;
}

.filter input[type="radio"] 
{
  display: none;
}

.filter input[type="radio"] + label 
{
  position: relative;
  display: flex; 
  margin-top: 17px;
  padding-left: 35px;
  cursor: pointer;
}

.filter input[type="radio"] + label::before 
{
  content: url("../img/radio-off.svg");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4; 
}

.filter input[type="radio"]:checked + label::before
{
  content: url("../img/radio-on.svg");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4; 
}

.filter input[type="radio"]:disabled + label
{
  opacity: 0.1; 
}

.filter input[type="radio"] + label:hover 
{
  opacity: 1; 
}

/* --------------- catalog ОСОБЕННОСТИ --------------------- */
.filter-feature 
{
  margin-top: 45px;
}

.filter-feature button
{
  font-size: 16px;
  height: 50px;
  width: 100%;
  margin-top: 43px;
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
  outline: none;
}

.filter input[type="checkbox"] 
{
  display: none;
}

.filter input[type="checkbox"] + label 
{
  position: relative;
  display: block;
  margin-top: 17px;
  padding-left: 35px;
  cursor: pointer; 
}

.filter input[type="checkbox"] + label::before 
{
  content: url("../img/checkbox-off.svg"); 
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.filter input[type="checkbox"]:checked + label::before
{
  content: url("../img/checkbox-on.svg");
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.filter input[type="checkbox"]:disabled + label 
{
  cursor: default;
  opacity: 0.4;
}

.filter input[type="checkbox"] + label:hover
{
  opacity: 1;
}

.filter button:focus 
{
  outline: none;
}

.filter button:hover 
{
  background-color: #e5e5e5;
}

.filter button:active 
{
  background-color: #d5d5d5;
  color: #999999;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

/* ---------- catalog assort -------------------------- */
.filter-assort-navigation 
{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 0;
 }

 .filter-assort-navigation-titel
{
   margin-right: 90px;
   margin-top: 12px;
}

.filter-assort-navigation-price
{
   margin-left: 0px;
}

 .filter-assort-navigation a
{
 color: #000000;
}

.filter-assort-navigation-down
{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  opacity: 0.20;
}

.filter-assort-navigation-up
{
  margin-top: 20px;
  margin-left: 0;
  opacity: 0.20;
}

.filter-assort-navigation p
{
  font-size: 14px;
  margin: 10px;
  margin-top: 15px;
  margin-right: 17px;
  opacity: 0.30;
}

.filter-assort-navigation p:hover,
.filter-assort-navigation img:hover
{
  opacity: 0.40;
}

.filter-assort-navigation p:active,
.filter-assort-navigation img:active
{
  opacity: 1; 
}

/* ------- catalog gallery ------- */

.gallery-img-browser
{
  margin: 0; 
  padding: 0; 
  opacity: 0.12;
  height: 40px;
  width: 360px;
}

.gallery-img
{
  margin: 0; 
  padding: 0; 
  border: 1px solid #f2f2f2;
  height: 575px;
  width: 358px;
}

.gallery-item
{
  display: flex; 
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  margin-right: 38px; 
  margin-bottom: 33px;
}


.gallery-item:nth-child(2n) 
{
  margin-right: 0;
}

.gallery-item-active
{
  visibility: hidden; 
  position: absolute;
  justify-content: center;
  background-color: #ececec;
  margin: 0;
  padding: 0;
  top: 62%;
  width: 100%;
  height: 38%;
}

.gallery-item-label
{
  text-align: center;
  padding-top: 10px; 
}

.gallery-item-info
{
  font-size: 16px;
  text-align: center;
  color: #666666;
  margin-bottom: 20px;
  margin-left: 45px;
  margin-right: 45px;
}

.gallery-item-button
{
  font-size: 16px;
  height: 45px;
  width: 200px;
  text-align: center;
  color: #eeeeee; 
  background-color: #ff6666;
  border-radius: 3px;
  border: none;
  outline: none;
}

.gallery-item-button:hover
{
  background-color: #ff3333;
}

.gallery-item:hover .gallery-item-active
{
  visibility: visible; 
}

.gallery-item-button:active
{
  border: none;
  background-color: #cc3333;
  color: #cc9999;
}

.gallery-item:hover .gallery-img-browser
{
  opacity: 1;
}

.gallery-item:hover
{
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* ---------------- catalog PAGE-------------------------- */
.gallery-page a 
{
  display: inline-block;
  vertical-align: top; 
  font-size: 16px;
  font-weight: 500;
  width: 50px;
  line-height: 50px; 
  text-align: center;
  color: #000000; 
  background-color: #f1f1f1;
  cursor: pointer;
  margin-right: 7px;
  margin-top: 26px;
  margin-bottom: 50px;
}

a.next-page 
{
  width: 260px;
}

a.page-active 
{
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border: 3px solid #f1f1f1;
  cursor: default;
  opacity: 0.9;
}

.gallery-page a:hover
{
  background-color: #e5e5e5;
}

.gallery-page a:active
{
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.main-footer-map-button
{
  font-size: 16px;
  height: 50px;
  width: 220px;
  color: #eeeeee; 
  background-color: #ff6666;
  border-radius: 3px;
  border: none;
  outline: none;
}

.main-footer-map-button:hover 
{
  background-color: #ff3333; 
}

.main-footer-map-button:active
{
  background-color: #cc3333;
  color: #cc9999;  
}

/* ----------- modal win -------------- */
.modal-login-form 
{
  position: fixed;
  bottom: 50px; 
  left: 35%;  
  
  display: none;  
  
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  padding: 33px 101px 49px 99px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-login-label
{
  font-size: 45px;
  font-weight: 500;
  padding-top: 0px;
  width: auto;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 52px;
}

.modal-write-open 
{
  display: block;
  -webkit-animation: show 0.5s;
          animation: show 0.5s;
}

.modal-write-error 
{
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.modal-login-close 
{
  position: absolute; 
  margin-top: 65px;
  margin-right: 75px;
  top: 6px; 
  right: 6px; 
  width: 41px; 
  height: 41px; 
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}

.modal-login-close::before,
.modal-login-close::after 
{
  content: "";
  position: absolute; 
  width: 27px;
  height: 5px;
  background-color: #fb565a;
}

.modal-login-close::before 
{
  bottom: 18px;
  left: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-login-close::after 
{
  position: absolute; 
  bottom: 18px;
  left: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.name-email
{
  margin-bottom: 30px;
}


.write-us-item:first-child 
{
  float: left;
}

.write-us-item:nth-child(2) 
{
  float: right;
}

.write-us-item input[type="text"],
.write-us-item input[type="email"] 
{
  width: 358px;
  height: 43px;
  border: 2px solid #d7dcde;
}

.write-us label 
{
  display: block; 
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
}

.write-us input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder 
{
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  opacity: 1;
}

textarea 
{
  box-sizing: border-box;
  width: 100%;
  height: 118px;
  margin-bottom: 40px;
  padding: 0;
  overflow: auto;
  border: 2px solid #d7dcde;
  resize: none;
}

.write-us-button 
{
  font-size: 16px;
  width: 260px;
  height: 50px;
  padding: 0;
  border: none;
  color: #eeeeee;
  background-color: #ff6666;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.write-us input:hover,
.write-us textarea:hover 
{
  border: 2px solid #a2a9ac;
}

.write-us input:focus,
.write-us textarea:focus 
{
  outline: none;
  border: 2px solid #000000;  
}

.write-us-button:hover 
{
  background-color: #ff3333;
}

.write-us-button:active 
{
  background-color: #cc3333;
  color: #cc9999;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.open-popup 
{
  display: block;
}


