/* ------------- index.css ------------------ */
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}
 
/* ------- main header ------- */
/* ----------- navigator ----------------------------------------- */
.main-header-logo
{
  margin-left: 380px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  /* padding-right: 270px; */
  padding-top: 30px;
  background-color: #eeeeee;
  height: 90px;
  width: 100%;
  /* padding-left: 420px; */
}

.site-navigation
{
  list-style: none;
  padding-top: 30px; 
  padding-left: 200px; 
}

.site-navigation-basket
{
  padding-left: 170px;
}

.site-navigation-basket img
{
  padding-right: 20px;
}

.site-navigation a
{
  color: black;
  margin: 20px;
}

.site-navigation a:hover
{
  color: red;
}

.site-navigation a:active
{
  color: black;
  opacity: 0.12;
}

/* ------- slider ---------------- */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  /* padding: 78px 0 80px 0;  */
  padding-top: 78px;  
  padding-right: 0;
  padding-bottom: 100px;  
  padding-left: 0;  
}

.slider-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* ------- container-item -------- */
.flex-container-gallery-index
{
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 40px;
}

.gallery-index-item
{
  margin: 0 65px;
}

.gallery-index-label
{
  font-family: "Roboto", "arial", sans-serif; 
  font-size: 18;
  text-align: left;
  padding-top: 20px; 
}

.gallery-index-info
{
  font-family: "Roboto", "arial", sans-serif; 
  font-size: 16;
  text-align: left;
  padding-top: 20px; 
  padding-bottom: 20px; 
}

.gallery-index-button1
{
  font-family: "Roboto", "arial", sans-serif; 
  font-size: 16;
  margin: 0;
  height: 45px;
  width: 150px;
  color: white; 
  background-color: #ff6666;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0;
}

.gallery-index-button2
{
  font-family: "Roboto", "arial", sans-serif; 
  font-size: 16;
  margin: 0;
  height: 45px;
  width: 150px;
  color: white; 
  background-color: #00cc66;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0;
}

.gallery-index-button3
{
  font-family: "Roboto", "arial", sans-serif; 
  font-size: 16;
  margin: 0;
  height: 45px;
  width: 150px;
  color: white; 
  background-color: #ffcc33;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0;
}

.gallery-index-button1:hover
{
  background-color: #ff3333;
}

.gallery-index-button1:active
{
  background-color: #cc3333;
  color: #cc9999;
}

.gallery-index-button2:hover
{
  background-color: #00cc66;
}

.gallery-index-button2:active
{
  background-color: #009966;
  color: #cc9999;
}

.gallery-index-button3:hover
{
  background-color: #ffcc33;
}

.gallery-index-button3:active
{
  background-color: #cc9933;
  color: #cc9999;
}

/* ------ main footer ---------- */
.footer
{
  position: relative;
  background-color: #e2e0e0;
  top: 20%;
  width: 100%;
  height: 38%;
}

.main-footer-map
{
  display: flex;
  position: relative;
  justify-content: center;
}

.main-footer-social
{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;  
}

.main-footer-after-map
{
  display: flex; 
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.main-footer-text
{
  display: flex; 
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;  
  margin-left: 150px; 
}

.main-footer-text-up
{
  font-family: Roboto, "arial", sans-serif; 
  font-size: 36pt;
  text-align: left;
  margin-bottom: 10px;
}

.main-footer-text-down
{
  font-family: Roboto, "arial", sans-serif; 
  font-size: 16pt;
  text-align: left;
  margin-top: 10px;
}

/* ------------------ social ------------------------------------- */
.social-icon 
{
  float: left;
  width: 50px;
  height: 50px;
  background-color: #cccccc;
  border-radius: 50%;
  text-align: center;
}

.social-vk
{
  margin-top: 50px;
  margin-left: 120px;
}

.social-fb
{
  margin-top: 50px;
  margin-left: 20px;
}

.social-in
{
  margin-top: 50px;
  margin-left: 20px;
}

.social-icon img 
{
  padding-top: 17px;
}

.social-icon:hover
{
  background-color: #ff3333;  
}

.social-icon:active
{
  background-color: #cc3333;
  color: #cc6666; 
}

.social-icon:active .social-img
{
  opacity: 0.30;
}

