/* ------------- catalog.css ----------------------------- */
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

/* ----------- navigator ----------------------------------------- */
.main-header-logo
{
  margin-left: 380px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  /* padding-right: 270px; */
  padding-top: 30px;
  background-color: #eeeeee;
  height: 90px;
  width: 100%;
  /* padding-left: 420px; */
}

.site-navigation
{
  list-style: none;
  padding-top: 30px; 
  padding-left: 200px; 
}

.site-navigation-basket
{
  padding-left: 170px;
}

.site-navigation-basket img
{
  padding-right: 20px;
}

.site-navigation a
{
  color: black;
  margin: 20px;
}

.site-navigation a:hover
{
  color: red;
}

.site-navigation a:active
{
  color: black;
  opacity: 0.12;
}

/* -------------- filter --------------------------- */
/*
.filter-item legend {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
   /* width: 260px; */
  /* margin: 50px auto;  */
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif; 
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/* --------------- netting --------------------- */
.filter-netting 
{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 50%;
  font-size: 16px;
}

/* ------------- feature ---------------------------- */
.filter-feature 
{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 10%;
  font-size: 16px;
}

.filter-feature-button
{
  font-family: "Roboto", "arial", sans-serif; 
  font-size: 16;
  height: 45px;
  width: 220px;
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
  outline: none;
}

.filter-feature-button:hover
{
  background-color: #dfdfdf;
}

.filter-feature-button:active
{
  background-color: #d5d5d5;
  color: #a9a9a9;
}

/* ---------- assort -------------------------- */
.filter-assort-navigation 
{
  display: flex;
  flex-direction: row;
  font-size: 16px;
  width: 100%;
 }

.filter-assort-navigation img
{
  opacity: 0.20;
}

.filter-assort-navigation p
{
  color: black;
  margin: 20px;
  opacity: 0.20;
}

.filter-assort-navigation p:hover,
.filter-assort-navigation img:hover
{
  color: #999999;
  opacity: 1;
}

.filter-assort-navigation p:active,
.filter-assort-navigation img:active
{
  color: #333333;
  opacity: 1;
}


/* ------- gallery ------- */

.gallery-img-browser
{
  margin: 0;
  padding: 0;
  opacity: 0.12;
}

.gallery-img
{
  margin: 0;
  padding: 0;
}

.gallery-item
{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  /* outline: 2px solid #eeeeee; */
}

.gallery-item-active
{
  visibility: hidden; 
  position: absolute;
  background-color: #ececec;
  margin: 0;
  padding: 0;
  top: 62%;
  width: 360px;
  height: 36%;
}

.gallery-item-label
{
  font-family: "Roboto", "arial", sans-serif; 
  font-size: 18pt;
  text-align: center;
  padding-top: 10px; 
}

.gallery-item-info
{
  font-family: "Roboto", "arial", sans-serif; 
  font-size: 16pt;
  opacity: 0.15;
  text-align: center;
  padding-top: 10px; 
  padding-bottom: 10px; 
}

.gallery-item-button
{
  font-family: "Roboto", "arial", sans-serif; 
  font-size: 16;
  height: 45px;
  width: 200px;
  color: white; 
  background-color: #ff6666;
  border-radius: 3px;
  border: none;
  outline: none;
}

.gallery-item-button:hover
{
  background-color: #ff3333;
}

.gallery-item-button:active
{
  border: none;
  background-color: #cc3333;
  color: #cc9999;
}

.gallery-item:hover .gallery-item-active
{
  visibility: visible; 
}

.gallery-item:hover .gallery-img-browser
{
  opacity: 1;
}

/* ------ main footer ---------- */
.footer
{
  position: relative;
  background-color: #e2e0e0;
  top: 20%;
  width: 100%;
  height: 38%;
}

.main-footer-social
{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;  
}

.main-footer-after-map
{
  display: flex; 
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;  
}

.main-footer-text
{
  display: flex; 
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;  
  margin-left: 150px; 
}

.main-footer-text-up
{
  font-family: Roboto, "arial", sans-serif; 
  font-size: 36pt;
  text-align: left;
  margin-bottom: 10px;
}

.main-footer-text-down
{
  font-family: Roboto, "arial", sans-serif; 
  font-size: 16pt;
  text-align: left;
  margin-top: 10px;
}

/* ------------- social ---------------------- */
.social-icon 
{
  float: left;
  width: 60px;
  height: 60px;
  background-color: #cccccc;
  border-radius: 50%;
  text-align: center;
}

.social-vk
{
  margin-top: 45px;
  margin-left: 120px;
}

.social-fb
{
  margin-top: 45px;
  margin-left: 20px;
}

.social-in
{
  margin-top: 45px;
  margin-left: 20px;
}

.social-icon img 
{
  padding-top: 20px;
}

.social-icon:hover
{
  background-color: #ff3333;  
}

.social-icon:active
{
  background-color: #cc3333;
  color: #cc6666; 
}

.social-icon:active .social-img
{
  opacity: 0.30;
}
